<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="index.css")
    link(rel="stylesheet" href="fontawesome-free-5.12.0-web/css/all.css")
    include ./Component/data/data_master.pug    
    include ./Component/mixin/mixin_master.pug
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="./js_file/product_item/hightlight.js")
    script(src="./js_file/product_item/new.js")
    script(src="./js_file/product_item/hot.js")
    script(src="./js_file/product_item/lastest.js")
    

    title Homepage
  body

    include ./Component/pages/comons/header/header_master.pug

    include ./Component/pages/home_page/homepage_master.pug

    include ./Component/pages/comons/footer/footer_master.pug

