section.hot
  .container
    .row
      .hot__title
        +title_part('SẢN PHẨM BÁN CHẠY')
        +list_new(new_theme)
        +togle()
    .row
      .hot__product
        .hot__small.-left
        .hot__large
        .hot__small.-right
