script(src="./js_file/homepage.js")
section.main__menu
      .container
        .row
          .menu__list
            .menu__ul
              ul
                +listmenu(listmenu)
          .menu__hide
            .nav__menu
              .span__menu
                span
                span
                span
            .menu__ul.-hide
              ul
                +listmenu(listmenu)
          .menu__basket
            .basket__count
              
            .basket__icon
              a(href="./cart.html") 
                i.fa.fa-shopping-basket